* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    flex: 1;
}

.project-name {
    color: white;
    font-size: 24px;

}

.navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 8px 1px;
    display: block;
}

.nav-item a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.upload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}